html {
	height: 100vh;
}

/* Index Page */

.nav-masthead .nav-link {
	color: rgba(255, 255, 255, 0.5);
	border-bottom: 0.25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
	border-bottom-color: rgba(255, 255, 255, 0.25);
}

.nav-masthead .active {
	color: #fff;
	border-bottom-color: #fff;
}

/* Register Page */
.form-signin {
	max-width: 330px;
	padding: 1rem;
}
